@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .my-active{
    background-color: white;
    border-radius: 14px;
    color: #78BEF0;
  }
  
  .my-btn-delete{
    color: #E5E7EB;
    padding: 5px 8px;
    transition: all 0.5s;
  }
  
  .my-btn-delete:hover{
    color: red;
  }

  .my-btn-title-delete{
    color: #E5E7EB;
    padding: 9px 13px;
    border: 1px solid transparent;
    transition: all 0.5s;
  }

  .my-btn-title-delete:hover{
    background-color: #ffffff;
    color: red;
    border: 1px solid #ffffff;
    box-shadow: 5px 10px #888888;
  }  
  
  .task-container{
    height: calc(100vh - 204px);
  }

  .add-list-btn:hover{
    transition: all 0.5s;
    background-color: #ffffff;
    color: #78BEF0;
  }